@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/*-------------------------
        Common Styles
---------------------------*/
body {
    font-family: 'Poppins';
    font-style: normal;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------
        Animation
----------------------------*/

@keyframes sliding {
    0% {
        transform: rotate(180deg);
        top: 100%
    }

    50% {
        transform: rotate(360deg);
        top: 30%;
    }

    100% {
        transform: rotate(540deg);
        top: 100%
    }
}

.ball {
    display: none;
}

.cover-container:hover .ball {
    height: 65px;
    height: 65px;
    display: flex;
    position: relative;
    animation: sliding 3s ease-in-out 0s infinite;
    animation-direction: alternate;
}

/* -----------------------
        Cover Styles 
-------------------------- */
.cover-container {
    margin-top: 30px;
    width: 78%;
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px 50px 0px;
}

.cover-title-info {
    margin-left: 30px;
    width: 50%;
}

.cover-container h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.cover-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.cover-container a {
    text-decoration: none;
    color: #FFFFFF;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-icon {
    margin-left: 10px;
}

.cover-container img {
    width: 95%;
    margin-left: 30px;
    margin-bottom: -7px;
}

/*------------------------------
          Blog style
---------------------------------*/
.blog-container {
    margin-top: 100px;
    margin-bottom: 130px;
}

.blogs {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.menu-container {
    width: 270px;
    height: 245px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161616;
}

.menu-btn.special-btn {
    color: #FFFFFF;
    background: #DD0000;
}

.transfer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.thumbnail {
    width: 270px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.thumbnail img {
    width: 270px;
    height: 150px;
}

.transfer-details {
    margin-top: 20px;
    margin-left: 20px;
}

.thumbnail a {
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer-section h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.thumbnail-info {
    display: flex;
    justify-content: space-between;
    width: 143px;
    height: 26px;
}

/*--------------------------------------
        UpMatch Webpage Styles
------------------------------------------*/

.match-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.thumbnail-match {
    width: 270px;
    height: 245px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
}

.thumbnail-match img {
    width: 93.04px;
    height: 56.18px;
}

.vsflag {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.match-section h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}

.match-section h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.match-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
}

.view-btn a {
    text-decoration: none;
    color: #FFFFFF;
    width: 131px;
    height: 47px;
    background: #DD0000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-btn {
    visibility: hidden;
}

/* ------------------------
        footer style 
--------------------------*/

footer {
    width: 100%;
    background: #161616;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    color: #FFFFFF;
}

footer hr {
    width: 90%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-menu {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0px 200px;
}

.footer-menu-name {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
}

.social-icon {
    margin-top: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.fa-facebook,
.fa-linkedin,
.fa-github {
    color: #FFFFFF;
}

.fa-facebook:hover,
.fa-linkedin:hover,
.fa-github:hover {
    color: cyan;
}

/*--------------------------------------
        Responsive-Section
---------------------------------------- */

/*----------------------------
        Tablet-Section
 ----------------------------*/

@media only screen and (min-width: 689px) and (max-width: 992px) {

    .cover-container {
        margin-top: 30px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 33px 50px 0px;
    }

    .cover-title-info {
        margin-left: 30px;
        width: 50%;
    }


    .cover-container h1 {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }

    .cover-container p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.8);
    }

    .cover-container a {
        width: 161px;
        height: 40px;
    }

    .cover-container img {
        width: 95%;
        margin-left: 30px;
    }

    /*-------------------------------------------------------
        Blog style & UpMatch Single Column Display
--------------------------------------------------------*/
    .blog-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .blogs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-container {
        width: 80%;
        height: 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        background: none;
        margin-bottom: 20px;
    }

    .menu-btn {
        border: 1px solid gray;
    }

    .transfer-section,
    .match-section {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }

    .view-btn {
        margin-bottom: 50px;
        visibility: visible;
    }

    /*---------------------------------------
                 footer style 
    -----------------------------------------*/
    .footer-menu {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 18px;
    }

    .social-icon {
        gap: 30px;
    }

}

/*----------------------------
        Mobile-Section
 ----------------------------*/

@media only screen and (max-width: 688px) {

    /*------------------------------
            Cover style
    ---------------------------------*/

    .cover-container {
        margin-top: 20px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cover-title-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 0px;
    }

    .cover-container h1 {
        font-size: 22px;
        line-height: 33px;
    }

    .cover-container p {
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.8);
    }

    .cover-container a {
        width: 161px;
        height: 40px;
    }

    .cover-container img {
        width: 100%;
        margin-top: 30px;

    }

    /*-------------------------------------------------------
             Blog style & UpMatch Single Column Display
    --------------------------------------------------------*/
    .blog-container {
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .blogs,
    .match-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-container {
        background-color: white;
    }

    .menu-btn {
        border: 1px solid gray;
    }

    .transfer-section {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 16px;
    }

    /*---------------------------------------
                footer style 
    -----------------------------------------*/
    .footer-menu {
        margin-top: 20px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .footer-menu-name {
        font-weight: 400;
        font-size: 14px;
    }

    .social-icon {
        gap: 30px;
    }

}